.data-test-page {
  margin: 0 auto;
  padding: 0;
}

/*header区显示*/
header {
  background: linear-gradient(to bottom, rgba(133, 168, 255, 0.3), rgba(255, 255, 255, 1));
  width: 100%;
  color: white;
  padding: 25px 25px;
  margin: 0;
}

.empty {
  flex: 1;
}

.empty img {
  width: 75px;
  margin: 0;
}

header h1 {
  flex: 1;
  text-align: center;
  margin: 0;
  font-size: 2rem;
  color: #333;
  z-index: 1000;
  display: flex;
  justify-content: center;
  margin-left: -3rem;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-menu li {
  margin: 0 15px;
}

.nav-menu a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.nav-menu a:hover {
  text-decoration: underline;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(to bottom,
      #8effdb27 0%,
      #11bed4 50%,
      #aaffe429 100%);
}

.content1 {
  flex: 1;
  background-color: #f9f9f9;
  border-radius: 10px;
  height: 30rem;
  box-shadow: 0 0 10px rgba(121, 121, 121, 0.5);
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content1:hover {
  transform: scale(1.03);
  /* 鼠标悬停时放大10% */
  transition: transform 0.3s ease;
}

.content2 {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #f9f9f9;
  height: 30rem;
  margin-left: 1rem;
  margin-right: 1rem;
  transition: transform 0.3s ease;
  box-shadow: 0 0 10px rgba(121, 121, 121, 0.5);
}

.content2:hover {
  transform: scale(1.03);
  /* 鼠标悬停时放大10% */
  transition: transform 0.3s ease;
}

.content3 {
  flex: 1;
  max-width: 30%;
  border-radius: 10px;
  background-color: #f9f9f9;
  height: 30rem;
  transition: transform 0.3s ease;
  box-shadow: 0 0 10px rgba(121, 121, 121, 0.5);
}

.content3:hover {
  transform: scale(1.03);
  /* 鼠标悬停时放大10% */
  transition: transform 0.3s ease;
}

.network h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#mynetwork {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 30rem;
}

.testcontent {
  background-color: #f9f9f9;
  padding: 20px;
  border-bottom: #21252b 1px solid;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.testcontent h3 {
  margin-top: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  font-size: 1.2em;
  color: #333;
}

.file-upload-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.file-upload-input {
  display: none;
  /* 隐藏原生文件输入框 */
}

.file-upload-button {
  background-color: #3f9cff;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s ease;
  width: 32%;
  display: flex;
  justify-content: center;
}

.file-upload-button:hover {
  background-color: hsl(216, 100%, 78%);
}

.file-name {
  font-size: 0.9em;
  color: #3c3c3c;
}

.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-button {
  width: 70%;
}

.container {
  background-color: #f9f9f9;
  margin: auot 0;
  height: max-content;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 100%;
}

.container h3 {
  margin-top: 0;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  color: #333;
}

.container_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upload-btn {
  width: 60%;
  margin-bottom: 5px;
}

.container_1 span {
  margin: 0;
  padding: 0;
}

.container_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.btn {
  margin-top: 5px;
  width: 60%;
  padding: 0;
}

.btn1 {
  margin-right: 12px;
}

.el-button.v-loading {
  background-color: #ccc;
  /* 加载状态的背景颜色 */
}

.el-button.v-loading:hover {
  background-color: #ccc;
  /* 防止加载状态下的颜色变化 */
}

.node-info-container {
  border-bottom: #333 1px solid;
}

.node-info-container h3 {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
}

.node-info {
  margin-bottom: 10px;
}

.node-info p {
  margin: 5px auto;
  padding: 0;
  display: flex;
  justify-content: center;
}

.console {
  background-color: #4d4d4d;
  overflow: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.console h3 {
  color: #ffffff;
  background-color: #494949;
  margin: 0;
  border-bottom: 1px solid #3a3d41;
  text-align: center;
  font-size: 1.2em;
}

.console-content {
  height: 18.6rem;
  overflow-y: auto;
  font-size: 14px;
  line-height: 1.5;
  background-color: #1e1e1e;
  color: #ffffff;
}

.console-content .info {
  color: #ffffff;
  /* VSCode 的信息蓝色 */
}

.console-content .warning {
  color: #dcdcaa;
  /* VSCode 的警告黄色 */
}

.console-content .error {
  color: #f44747;
  /* VSCode 的错误红色 */
}

.clearConsoleButton {
  margin: 0;
  width: 100%;
  padding: 5px;
  border: none;
  font-size: 1em;
  background-color: #2d2d2d;
  /* 深色按钮背景 */
  border-radius: 0;
  color: #d4d4d4;
  /* 按钮文字颜色 */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.clearConsoleButton:hover {
  color: #569cd6;
  /* 鼠标悬停时的颜色 */
  transition: background-color 0.3s ease;
}


.physics-settings-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.collapse {
  flex: 1;
  width: 100%;
}

.custom-title {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  color: #2196f3;
  /* 蓝色 */
  display: flex;
  align-items: center;
  justify-content: center;
}

#config {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  background-color: #f1faff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.vis-configuration-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.vis-configuration-wrapper h3{
  padding: 0;
  margin: 0;
}

.vis-configuration {
  display: flex;
  align-items: center;
  gap: 1px;
  padding: 0;
  margin: 0;
}

.vis-config-header {
  font-size: 1.2em;
  font-weight: bold;
  color: #2c3e50;
}

.vis-config-label {
  flex: 1;
  font-size: 1em;
  color: #34495e;
}

.vis-config-range,
.vis-config-rangeinput,
.vis-config-select {
  width: 100%;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 0.9em;
}

.vis-config-item{
  display: flex;
}

.vis-config-range {
  flex: 3;
}

.vis-config-rangeinput {
  flex: 1;
  width: 20px;
}

.vis-config-checkbox {
  width: 20px;
  height: 20px;
}

.vis-config-button {
  padding: 0;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.vis-config-button:hover {
  background-color: #2980b9;
}

/* 增强样式 */
.vis-configuration-wrapper {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
}

.vis-config-item {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px #ddd;
}

.vis-config-item:hover {
  box-shadow: inset 0 0 0 1px #ccc;
}

/* 增加一些间距和对齐 */
.vis-config-label {
  flex: 1;
}

.vis-config-range,
.vis-config-rangeinput,
.vis-config-select {
  flex: 2;
}






.introduction {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduction nav ul {
  list-style: none;
  padding: 0;
}

.introduction nav ul li {
  display: flex;
}

.introduction nav ul li el-card {
  margin: 10px;
}

.introduction nav ul li a {
  text-decoration: none;
  font-size: larger;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
  padding: 20px;
}

.introduction nav ul li a:hover {
  color: #007BFF;
}

.footer {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(133, 168, 255, 0.3));
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #3a3a3a;
  margin-top: 20px;
  border-top: 1px solid #eaeaea;
}

.footer a {
  color: #007bff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.footer ul li {
  margin: 0 10px;
}

.footer ul li a {
  color: rgb(46, 46, 46);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.footer ul li a:hover {
  color: #63a2ff;
}

/* 媒体查询：竖屏模式 */
@media (orientation: portrait) {
  .content {
    flex-direction: column;
  }

  .content1,
  .content2 {
    width: 100%;
    margin: 10px 0;
  }

  .content3 {
    max-width: 100%;
    width: 100%;
    margin: 10px 0;
  }

  .content2 {
    height: 300px;
  }
}