
.title {
    display: flex;
    background: linear-gradient(to bottom, rgba(133, 168, 255, 0.3), rgba(255, 255, 255, 1));
    text-align: center;
    justify-content: center;
    width: 100%;
    padding-top: 1rem;
    margin-bottom: 2rem;
}

.title h1 {
    color: #333;
    font-size: 24px;
}

.content {
    text-align: justify;
    line-height: 1.6;
}

.content p{
    display: flex;
    justify-content: center;
}

/*footer区显示*/
footer {
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1),rgba(133, 168, 255, 0.3));
    color: rgb(46, 46, 46);
    text-align: center;
    padding-bottom: 2rem;
}
  
footer h3 {
    text-align: center;
}
  
footer ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
  
footer ul li {
    margin: 0 10px;
}
  
footer ul li a {
    color: rgb(46, 46, 46);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}
  
footer ul li a:hover {
    color: #e0ee8b;
}
  
footer p {
    font-size: 0.85em;
    margin-top: 20px;
    color: rgb(46, 46, 46);
}